.container {
  height: 22px;
  padding-left: 3px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  gap: 3px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}

.selected {
  color: white;
  border: 1px dotted white;
  background-color: #000181;
}