@font-face {
  font-family: 'Pixelated';
  src: url('../public/fonts/pixelated-times-new-roman.ttf');
  font-style: normal;
  }

@font-face {
    font-family: 'Windows 95';
    src: url('../public/fonts/w-95-sans-serif.woff2') format('woff2'),
        url('../public/fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Windows 95 Bold';
  src: url('../public/fonts/MS\ Sans\ Serif\ 8pt\ bold.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Windows 95';
  background-color: #008081;
  cursor: url('../public/icons/cursor.png'), url('../public/icons/cursor2.png'), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}