.bg-primary {
  background-color: #c0c0c0 !important;
}

.bg-secondary {
  background-color: #008081 !important;
}

.bg-tertiary {
  background-color: #000181 !important;
}

.bg-blue {
  background-color: #5e72e4 !important;
}

.container {
  background-color: #008081;
}

/* @keyframes link-animation {
  0% {
  color:black;
  font-size: 2rem;
  text-decoration: underline;
}
25% {
  color: navy;
  font-size: 3rem;
  text-decoration: underline;
}
50% {
  color: darkblue;
  font-size: 4rem;
  text-decoration: underline;
}
75% {
  color: blue;
  font-size: 5rem;
  text-decoration: none;
}
 100% {
  color:lightblue;
  font-size: 6rem;
  text-decoration: none;
 }
} */



.link {
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  animation-name: link-animation;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.link:hover{  
  animation-play-state: running;
}

