.container {
  position: absolute;
  width: 100px;
  height: 180px;
  background-color: #c0c0c0;
  border: 2px solid #08080E;
  border-top-color: white;
  border-left-color: white;
  z-index: 99;
  bottom: 38px;
  right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.50rem;
}

.triangle {
  width: 25px;
  height: 100px;
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%);
  background-color: #d2d2d2;
  border: 1px solid #08080E;
  border-top-color: white;
}

.body {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input {
  -webkit-appearance: none;
  -webkit-appearance: slider-vertical;
  appearance: none;
  height: 100px;
  margin-left: 20px;
  width: 2px;
  outline: none;
  writing-mode: vertical-rl;
  background: #08080E;
  border: 1px solid #08080E;
  border-right-color:#a0a0a0;
}

.input:focus {
  outline: 1px dashed #08080E;
  outline-offset: 14px;
}

.input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 15px;
  background: #c0c0c0;
  border: 2px solid #08080E;
  border-top-color: white;
  border-left-color: white;
}

.input::-moz-range-thumb {
  width: 30px;
  height: 15px;
  background: #c0c0c0;
  border: 2px solid #08080E;
  border-top-color: white;
  border-left-color: white;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
}

.checkmark {
  position: absolute;
  bottom: 10px;
  left: 11px;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 2px inset #08080E;
  border-bottom-color: white;
  border-right-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox:checked ~ .checkmark:after {
  display: block;
}

.label {
  position: relative;
  padding-left: 31px;
  padding-bottom: 10px;
  font-size: .50rem;
}

.underline {
  text-decoration: underline;
}

.checkmark:after {
  left: 3px;
  top: -1px;
  width: 3px;
  height: 8px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}